
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}


.container{
    height: 100%;
    width: 100%;
    /*scroll-snap-type: y mandatory;
    overflow-y: scroll;*/
}


.container > section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /*scroll-snap-align: start;*/
}

.section1 {
    background-color: rgb(29, 29, 29);
}

.section2 {
    background: rgb(198, 35, 104);
}


.section3 {
    background: rgb(73, 105, 126);
}

.section4 {
    background: #334155;
}


.section-heading {
    margin-top: 100px;
}


#nav-expander {
    display: none;
    justify-content: end;
    background:rgb(29,29,29);
    color: white;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
}


#nav-expander-icon {
    /* the i tag in button in div.nav-expander */
    display: flex;
    padding: 1.25rem;
    
}


#sideNav {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    background: white;
    height: 100vh;
    width: 0;
    right: 0;
    position: fixed;
    transition: all;
    z-index: 2;
}

#closeButton {
    justify-content: flex-end;
    visibility: hidden;
    transition: all;
}

#closeButtonLink {
    transition: all;
    color: rgb(209, 213, 219);
    font-size: 1.875em;
    line-height: 2.25rem;
    width: 0px;
    top: 1.25rem;
    right: 1.25rem;
    position: fixed;
    justify-content: flex-end;
}


#closeButtonLink:hover {
    color: black;
    font-weight: 700;
}


.sideNavli {
    color: black;
    padding : 1.25rem;
}


.sideNavli:hover {
    text-decoration-line: underline;
    font-weight: 700;
    color: rgb(34, 197, 94);
    cursor: pointer;
}

.greet {
    /* The Hi! Part */
    font-size: 40px;
}

.greet-small {
    /* The description below the main greet at the first page */
    margin-left: 20px;
    margin-right: 20px;
}


.greet-container {
    /* Contains the greet message in the Intro Page */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30vh;
    border-style: groove;
    border-width: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-color: #00ff00;
    border-radius: 10px;
    background-color: rgba(64, 201, 101, 0.6);
    font-family: monospace;
    font-size: 25px;
}

.transitionImage {
    /*background-image: url('./pictures/layered-waves-haikei-1.svg');*/
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    height: 50vh;
    overflow: hidden;
    background-position: bottom;
}

.transitionImageDiv {
    overflow: hidden;
}


.projectsdiv {
    /* the div containing all the links to projects */

    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    background: rgb(239, 245, 132);
    font-size: large;
    margin-top: 100px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}



.project-image {
    height: 400px;
}

.project-title {
    font-size: 1.6em;
}


.project-link {
    color: black;
    text-decoration: wavy;
}


.project {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    scroll-snap-align: center;
}

.project:hover {
    /* when a link is hovered upon */
    color: rgb(110, 87, 138);
}


@media screen and (max-width: 707px) {
    #nav-expander {
        display: flex;
    }

    .section2 {
        overflow: auto;
    }

}

@media screen and (max-width: 1400px){
    .projectsdiv {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.platforms {
    /*div to contain the languages's divs*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(245, 197, 197);
}

.platform {
    margin-right: 20px;
    font-weight: 600;
    font-size: 40px;
}