
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}


.container{
    height: 100%;
    width: 100%;
    /*scroll-snap-type: y mandatory;
    overflow-y: scroll;*/
}

::-moz-selection {
  background: purple;
}

::selection {
  background: purple;
}


.container > section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /*scroll-snap-align: start;*/
}

.section1 {
    background-color: rgb(29, 29, 29);
}

.section2 {
    background: rgb(198, 35, 104);
}


.section3 {
    background: rgb(73, 105, 126);
}

.section4 {
    background: #334155;
}


.section-heading {
    margin-top: 100px;
}


#nav-expander {
    display: none;
    /*Abackground: url("/images/menu.svg") no-repeat scroll 0 0 transparent;*/
    color: white;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 3;
}


#sideNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: gray;
    height: 100vh;
    width: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    transition: width 1s;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.bigNav {
    width: 250px !important;
}

#closeButton {
    justify-content: flex-end;
    visibility: hidden;
    transition: all;
}

#closeButtonLink {
    color: rgb(255, 255, 255);
    font-size: 1.875em;
    line-height: 2.25rem;
    width: 0px;
    top: 1.25rem;
    right: 1.25rem;
    position: fixed;
    justify-content: flex-end;
    text-decoration: none;
}


#closeButtonLink:hover {
    color: black;
    font-weight: 700;
}

#sideNav > a {
    text-decoration: none;
}


.sideNavli {
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    color: white;
    padding : 1.25rem;
}


.sideNavli:hover {
    text-decoration-line: underline;
    font-weight: 700;
    color: rgb(34, 197, 94);
    cursor: pointer;
}

#mug-icontain {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mug {
    height: 30%;
    width: auto;
    border-radius: 50%;
}

#inmug {
    display: none;
    position: absolute;
    width: auto;
    bottom: 15px;
    left: 15px;
}

#rightgreets {
    display: none;
    width: 100%;
}

#leftgreets {
    width: 100%;
    margin-left: 4%;
    margin-right: auto;
}

.greet {
    /* The Hi! Part */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 30px;
}

.greet-sub {
    font-weight: bold;
    font-size: 22px;
    margin-right: auto;
    gap: 5px;
}

.greet-small {
    /* The description below the main greet at the first page */
    font-size: 22px;
    line-height: 1.6;
}


.greet-container {
    /* Contains the greet message in the Intro Page */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30vh;
    border-style: groove;
    border-width: 10px;
    overflow: hidden;
    border-color: #00ff00;
    border-radius: 10px;
    background-color: rgba(64, 201, 101, 0.6);
    font-family: monospace;
}

#greet-container {
    width: 35vw;
}

#intro-holder {
    display: flex;
    margin-top: 2%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.transitionImage {
    /*background-image: url('./pictures/layered-waves-haikei-1.svg');*/
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    height: 50vh;
    overflow: hidden;
    background-position: bottom;
}

.transitionImageDiv {
    overflow: hidden;
}

.proj-container {
    display: none;
    flex-direction: row;
    margin-top: 100px;
    gap: 50px;
}

.proj-desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-desc {
    font-weight: bold;
    font-size: 20px;
}

#form-container {
    display: flex;
}


.projectsdiv {
    /* the div containing all the links to projects */

    display: flex;
    width: 30vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
    background: rgb(91, 240, 146);
    font-size: large;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-color: rgb(198, 35, 104) rgb(91, 240, 146);
}

#next-proj {
    color: black;
    position: absolute;
    margin-left: 28vw;
}

#prev-proj {
    display: none;
    position: absolute;
    color: black;
    margin-left: 2%;
}

.project-image-div {
    height: 200px;
}

.project-image {
    max-height: 100%;
    max-width: 100%;
}

.project-title {
    font-size: 1.6em;
}


.project-link {
    color: black;
    text-decoration: wavy;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    scroll-snap-align: center;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}


.project-link:hover {
    /* when a link is hovered upon */
    color: rgb(110, 87, 138);
}





.platforms {
    /*div to contain the languages's divs*/
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    gap: 5%;
    margin-top: 7%;
}

.platform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1em;
    height: 40%;
    /*
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
    border-color: greenyellow;
    */
}

.platform > img {
    height: 55%;
    margin-bottom: 2%;
}
/*
about the form
*/

.myformdiv {
    border-style: groove;
    border-color: #00ff00;
    border-width: 10px;
    border-radius: 10px;
    background-color: rgba(64, 201, 101, 0.6);
    padding: 20px;
    margin-top: 10%;
    font-family: monospace;
}

button[type="submit"] {
    font-size: 1.2em;
    width: 70%;
    text-align: center;
    color: black;
    padding: 14px 20px;
    /**margin: 8px 0;**/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: greenyellow;
    transition: background-color 0.6s;

}

button[type="submit"]:hover {
    background-color: limegreen;
    text-decoration: underline;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0,0,0);
    border-radius: 4px;
    box-sizing: border-box;
}

.darkit {
    /* Button Class */
    /*font-family: "Roboto";*/
    border-radius: 20px 20px 20px 20px;
    border-style: groove;
    border-spacing: 1%;
    border-color: rgb(0,0,0);
    border-width: 5%;
    font-style: bold;
    font-weight: 900;
    color: rgb(0,0,0);
    background: white;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0;
    cursor: pointer;

}

.darkit:hover {
    background: rgb(208, 217, 219);
}

.flinkfont {
    font-size: 1.2em;
    font-style: bold;
    font-weight: 800;
    color: aliceblue;
}

.message-close-button {
    font-weight: bold;
    font-size: 1.5em;
    color: aliceblue;
    margin-left: auto;
    margin-right: 1%;
    align-self: center;
}

.message-close-button:hover {
    font-size: 1.7em;
    font-weight: 800;
    cursor: pointer;
}

.message-text {
    font-family: monospace;
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    margin-left: 1%;
}

#message-box {
    width: 95%;
    top: 2%;
    left: 2%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    z-index: 4;
}

.green-message {
    border-color: green;
    background-color: rgba(64, 201, 101, 0.6);
}

.red-message {
    border-color: red;
    background-color: rgba(227, 67, 39, 0.6);
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    gap: 15px;
}


.icon {
    height: 48px;
    width: 48px;
    cursor: pointer;
    filter: invert(1);
}

.icon:hover {
    filter: invert(.5) sepia(0.5) saturate(5) hue-rotate(85deg);
}


.imp-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.imp-sheet {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: background-color 1s;
}

.dark-sheet-hide {
    background-color: rgba(0, 0, 0, 0);
}

.dark-sheet-show {
    background-color: rgba(0, 0, 0, 0.8);
}

.impressum-text {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.footer-message {
    font-size: medium;
    font-weight: bold;
    margin-top: 1%;
}

#impressum-link {
    margin-top: 2%;
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 1572px){
    #greet-container {
        width: 60vw;
    }

    .projectsdiv {
        width: 40vw;
    }
    #next-proj {
        margin-left: 38vw;
    }
}


@media screen and (max-width: 880px) {
    #floatmug {
        display:none;
    }

    #inmug {
        display: block;
        height: 200px;
    }

    #intro-holder {
        margin-top: 20%;
    }

    #greet-container {
        width: 85vw;
    }

    #leftgreets {
        display: none;
    }

    #rightgreets {
        display: block;
        text-align: right;
        margin-right: 4%;
        margin-left: auto;
    }


    .projectsdiv {
        width: 60vw;
    }
    #next-proj {
        margin-left: 58vw
    }

    .myformdiv {
        width: 75vw;
    }
}

@media screen and (max-width: 707px) {
    #nav-expander {
        display: flex;
    }

    .section2 {
        overflow: auto;
    }

    #inmug {
        height: 150px;
    }

    #greet-container {
        width: 90vw;
    }

    .greet {
        font-size: 20px;
    }

    .greet-small {
        font-size: 17px;
    }

    .greet-sub {
        font-size: 17px;
    }

    #intro-holder {
        margin-top: 40%;
    }

    .proj-desc-container {
        display: none;
    }

    .projectsdiv {
        width: 75vw;
    }
    #next-proj {
        margin-left: 69vw
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    #impressum-link {
        display: none;
    }

}


@media screen and (max-width: 400px) {
    #inmug {
        height: 125px;
    }
}


@media screen and (max-width: 390px) {

    #intro-holder {
        margin-top: 50%;
    }


    .greet {
        font-size: 17px;
    }

    .greet-small {
        font-size: 14px;
    }

    .greet-sub {
        font-size: 14px;
    }

    .icon {
        height: 30px;
        width: 30px;
    }

    .platforms {
        gap: 10%;
    }

    .platform {
        height: 30%;
    }

}

@media screen and (max-width: 340px) {
    #inmug {
        height: 100px;
    }
}