@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    ::-moz-selection {
        color : black;
        background : violet;
    }
    ::selection {
        color : black;
        background : violet;
    }
}