@font-face { font-family: OdibeeSans; src: url("../fonts/OdibeeSans-Regular.ttf"); }
@font-face { font-family: Roboto; src: url("../fonts/Roboto-Light.ttf"); }
@font-face { font-family: "Roboto Mono"; src: url("../fonts/RobotoMono-Regular.ttf"); }
html {
    font-family: "Roboto Mono", "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
/**    background-image: url('../pictures/milky_way_starry_sky_galaxy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; **/
}


#navbarul {
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(0,0,0);
    border-style: groove;
	border-spacing: 1%;
    border-width: 5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /**background: rgba(255,255,255,0.2);**/
}

.navli {
    float: left;
}

.navlink {
    display: block;
    color: rgb(0,0,0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background 0.4s;
  }
  
.navlink:hover {
    background: rgb(208, 217, 219);;
  }

section {
      scroll-behavior: smooth;
}


#my_image {
    border-radius: 50%;
}


#twitter_embed {
    margin-right: auto; 
    margin-left: auto;
    padding-left: 0;
    max-height: 640px;
    /*float: left;*/
    overflow: auto;
}

#skillhead {
    font-size: 2em;
}

#langhead {
    font-size: 2em;
}

.skilul {
    border-radius: 20px 20px 20px 20px;
    border-color: rgb(0,0,0);
    border-style: groove;
	border-spacing: 1%;
    border-width: 5%;
    list-style-type: none;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
    /*width: 100%;*/
    /*font-size: 1.5em;*/
    background: rgba(255,255,255,0.2);
}

.skilli {
    transition: background 0.4s, max-height 2s;
    overflow: hidden;
    
}

.skilli:hover {
    max-height: 30em;
    background-color: rgb(208, 217, 219);;
}

.skilli_n {
    font-size: 30px;
    /*filter: blur(20px);*/
    /*width: 70%;*/
    max-height: 150px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
}

.skillc {
    font-size: 0.85em;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2em);
    transition: all 0.6s ease-in-out 0s; /*visibility 0s linear 0.3s, z-index 0s linear 0.01s, opacity 0s easy 0.2s;*/
}


.skilli:hover .skillc {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}


.joined_links {
    margin-left: 1%;
}


.whiteone, li {
    font-family: "Roboto Mono", monospace, sans-serif;
    color: rgb(0,0,0);
}


.whitecenter {
    font-family: "Roboto Mono", monospace, sans-serif;
    font-size: 2em;
    color: black;
    text-align: center;
}

.whitecenteritalics {
    /*font-family: "", "Open Sans", Helvetica, sans-serif;*/
    font-size: 1.3em;
    font-style: italic;
    font-weight: 800;
    color: black ;
    text-align: center;
}

#about {
	/* My Name */
	color: rgb(0,0,0);
    font-size: 2em;
}


footer {
    text-align: center;
    padding: 3px;
    color: black;
}


.darkit {
    /* Button Class */
	/*font-family: "Roboto";*/
	border-radius: 20px 20px 20px 20px;
	border-style: groove;
	border-spacing: 1%;
    border-color: rgb(0,0,0);
    border-width: 5%;
    font-style: bold;
    font-weight: 900;
	color: rgb(0,0,0);
	background: white;
    transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0;
    cursor: pointer;
	
}

.darkit:hover {
    background: rgb(208, 217, 219);
}

.flinkfont {
    font-size: 1.2em;
    font-style: bold;
    font-weight: 800;
}


.primg {
    /* Project Images class */
    border-radius: 20px 20px 20px 20px;
    height:150px;
    width: auto;
}

.other_link {
    height: 110px;
    width: auto;
}


.myformdiv {
    border-radius: 5px;
    background: white;
    padding: 20px;
}

button[type="submit"] {
    font-size: 1.2em;
    width: 70%;
    text-align: center;
    color: black;
    padding: 14px 20px;
    /**margin: 8px 0;**/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: greenyellow;
    transition: background-color 0.6s;

}

button[type="submit"]:hover {
    background-color: limegreen;
    text-decoration: underline;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0,0,0);
    border-radius: 4px;
    box-sizing: border-box;
}

#liam_neeson {
    display: block;
    float: right;
}


@media screen and (max-width : 804px ){
    /* Code when width bw > 800px, ie, Mobile Phone screen range*/
    #spotify_iframe {
        /*margin-left: 100%;*/
        float: left;
    }

    #twitter_embed {
        float: left;
    }

    .navli {
        width: 100%;
    }

    .skilli {
        padding-top: 3%;
    }

    .skilli_n {
        padding-top: 1%;
    }
	
	/*#dli {
		width: 100%;
	}*/

	.darkit {
		width: 100%;
	}

    /*
    #pgmli:hover {
        height: 300px;
    }*/

    #liam_neeson {
        visibility: hidden;
    }
  }


hr {
    opacity: 0;
}
