@font-face { font-family: OdibeeSans; src: url("../fonts/OdibeeSans-Regular.ttf"); }
@font-face { font-family: Roboto; src: url("../fonts/Roboto-Light.ttf"); }
html {
    font-family: "Roboto", "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url('../pictures/milky_way_starry_sky_galaxy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#navbarul {
    border-radius: 20px 20px 20px 20px;
    border-color: aliceblue;
    border-style: groove;
	border-spacing: 1%;
    border-width: 5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(255,255,255,0.2);
}

.navli {
    float: left;
}

.navlink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background 0.4s;
  }
  
.navlink:hover {
    background: rgba(255,255,255,0.6);
  }

section {
      scroll-behavior: smooth;
}


#my_image {
    border-radius: 50%;
}


#twitter_embed {
    margin-right: 35%;
    margin-left: 5%;
    padding-left: 0;
    max-height: 640px;
    /*float: left;*/
    overflow: auto;
}

#skillhead {
    font-size: 2em;
}

#langhead {
    font-size: 2em;
}

.skilul {
    border-radius: 20px 20px 20px 20px;
    border-color: aliceblue;
    border-style: groove;
	border-spacing: 1%;
    border-width: 5%;
    list-style-type: none;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
    /*width: 100%;*/
    /*font-size: 1.5em;*/
    background: rgba(255,255,255,0.2);
}

.skilli {
    transition: background 0.4s, max-height 2s;
    overflow: hidden;
}

.skilli:hover {
    background-color: rgba(255,255,255,0.6);
    max-height: 30em;
}

.skilli_n {
    font-size: 30px;
    /*filter: blur(20px);*/
    /*width: 70%;*/
    max-height: 150px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
}

.skillc {
    font-size: 0.85em;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2em);
    transition: all 0.6s ease-in-out 0s; /*visibility 0s linear 0.3s, z-index 0s linear 0.01s, opacity 0s easy 0.2s;*/
}


.skilli:hover .skillc {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}


.joined_links {
    margin-left: 1%;
}


.whiteone, li {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}


.whitecenter {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 2em;
    color: aliceblue;
    text-align: center;
}

.whitecenteritalics {
    /*font-family: "", "Open Sans", Helvetica, sans-serif;*/
    font-size: 1.3em;
    font-style: italic;
    font-weight: 800;
    color: aliceblue;
    text-align: center;
}

#about {
	/* My Name */
	color: aliceblue
}


footer {
    text-align: center;
    padding: 3px;
    color: white;
}


.darkit {
    /* Button Class */
	/*font-family: "Roboto";*/
	border-radius: 20px 20px 20px 20px;
	border-style: groove;
	border-spacing: 1%;
    border-color: rgba(255,255,255,0.8);
    border-width: 5%;
    font-style: bold;
    font-weight: 900;
	color: aliceblue;
	background: rgba(255,255,255,0.2);
	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0;
	
}

.darkit:hover {
	background: rgba(255,255,255,0.6);
}

.flinkfont {
    font-size: 1.2em;
    font-style: bold;
    font-weight: 800;
}


.primg {
    /* Project Images class */
    border-radius: 20px 20px 20px 20px;
}

.myformdiv {
    border-radius: 5px;
    background: rgba(255,255,255,0.4);
    padding: 20px;
}

button[type="submit"] {
    font-size: 1.2em;
    width: 100%;
    background: rgba(255,255,255,0.5);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.6s;

}

button[type="submit"]:hover {
    background: rgba(255,255,255,0.8);
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media screen and (max-width : 804px ){
    /* Code when width bw > 800px, ie, Mobile Phone screen range*/
    #spotify_iframe {
        /*margin-left: 100%;*/
        float: left;
    }

    #twitter_embed {
        float: left;
    }

    .navli {
        width: 100%;
    }

    .skilli {
        padding-top: 3%;
    }

    .skilli_n {
        padding-top: 1%;
    }
	
	/*#dli {
		width: 100%;
	}*/

	.darkit {
		width: 100%;
	}

    /*
    #pgmli:hover {
        height: 300px;
    }*/
  }


